
.navbar {
  top: 20px;
  transition: all 0.3s ease-in-out;
  border: solid 0.5px;
  border-radius: 25px;
  margin-left: 500px;
  margin-right: 650px;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.4)

}
.navbar:hover{
  box-shadow: 5px 5px 15px rgba(204, 197, 197, 0.3);
}
.navbar ul{

  margin-right: 24%;

}
.navbar-brand {
  font-weight: bold;
  font-size: 1.5rem;
}
.nav-link {
  transition: color 0.3s ease-in-out;
}
.nav-link:hover {
  color: #0d6efd !important;
}
.dropdown-menu {
  animation: fadeIn 0.3s ease-in-out;
}
@keyframes fadeIn {
  from { opacity: 0; transform: translateY(-10px); }
  to { opacity: 1; transform: translateY(0); }
}
.portada {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Espaço entre os elementos */
  /*background-color: #0d6efd;*//*cor para ver a dimensao da div*/
  padding: 50px;
  border-radius: 10px;
  margin: 20px;
}

/* Estilização do Texto */
.text-apr {
  flex: 1;
  color: white;
  padding: 20px;
  max-width: 50%;
}

span{
  color: #0d6efd;
}

.text-apr h1 {
  font-size: 3rem;
  margin-bottom: 10px;
}

.text-apr p {
  font-size: 1.2rem;
}

/* Ícone do Controle */
.icon-apr {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}


.icon-apr i {
  font-size: 450px;
  color: white;
}

/* Responsividade */
@media (max-width: 768px) {
  .portada {
      flex-direction: column;
      text-align: center;
  }

  .text-apr, .icon-apr {
      max-width: 100%;
  }

  .icon-apr i {
      font-size: 100px; /* Ícone menor em telas pequenas */
  }
}

/*secao 2*/
.sec2 {
  display: flex;
  flex-wrap: nowrap; /* Impede que os elementos quebrem linha */
  overflow: hidden; /* Evita que o scroll vaze para outras partes da tela */
  height: 100vh; /* Ajusta para a altura da tela */
}

.sec2 div {
  min-width: 100vw; /* Garante que cada seção ocupe 100% da largura */
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  color: white;
}


.one, .two, .tree {
  width: 100vw; /* Largura total da tela */
  height: 100vh; /* Cada seção ocupa a tela toda */
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  color:white;
}

.one {
  background-color: #202020;
}
.two {
  background-color: #0d6efd;
}
.tree {
  background-color: black;
}


